<section>
    <article>
        <img src="" alt="" />
        <h3>Duel Title</h3>
        <p>Duel description goes here.</p>
    </article>
    <article>
        <img src="" alt="" />
        <h3>Duel Title</h3>
        <p>Duel description goes here.</p>
    </article>
</section>
