<section>
    <div>
        <img src="../Logo.png" alt="logo" />
        <p>© 2026 Mikael Atla. All rights reserved.</p>
    </div>
    <div>
        <p>Følg os på SoME:</p>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
        </ul>
    </div>
</section>

<style>
    section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 16px;
        background-color: #a8daff;
    }
    div {
        margin-top: 40px;
        margin-bottom: 16px;
    }
    img {
        max-width: 300px;
    }
    p {
        margin: 4px 0;
    }
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        margin: 4px 0;
        list-style: none;
    }
    a {
        color: #0070f3;
        text-decoration: none;
    }
</style>
