---

---

<section class="hero">
    <img src="../Logo.png" alt="Hero Image" class="hero-image" />
    <div class="hero-text">
        <img src="" alt="" />
        <p>Vi er en frivillig forening som hjælper unge talenter i den danske reklame- og kommunikationsbrnache med at netværke, udvikle dit portfilio og få foden indenfor i den kreative branche.</p>
    </div>
</section>

<style>
    .hero {
        display: grid;
        place-items: center;
        height: 70vh;
        background-color: #a8daff;
        z-index: -1;
        margin: 0;
    }

    .hero-image {
        grid-area: 1/1;
        place-items: center;
    }

    .hero-text {
        max-width: 570px;
    }

    .hero p {
        margin-top: 0;
    }
</style>
