---
import Button from "../components/button.astro";
---

<section class="interlude">
    <div class="interlude-text">
        <h2>Vær med til vores næste event</h2>
        <Button text="Tilmeld dig her" />
    </div>
</section>

<style>
    .interlude {
        display: grid;
        place-items: center;
        height: 70vh;
        background-color: #a8daff;
        z-index: -1;
        margin: 0;
    }
</style>
