---
import Button from "../components/button.astro";
---

<section class="interlude">
    <div class="interlude-text">
        <h2>Vær med til vores næste event</h2>
        <Button text="Tilmeld dig her" />
    </div>
</section>

<style>
    .interlude {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 70vh;
        background-color: #a8daff;
        color: #fff;
        z-index: -1;
        margin: 0;
        background-image: url("../ansigt.jpg");
        background-size: cover;
        background-position: center;
    }
    h2 {
        color: #fff;
    }
</style>
