---
const { text } = Astro.props;
---

<section class="review">
    <h2>{text}</h2>
</section>

<style>
    .review {
        display: flex;
        justify-content: center;
        padding: 16px;
        margin-bottom: 40px;
    }

    .review h3 {
        margin-top: 0;
    }
</style>
